entrypoint = "main.py"
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]
modules = ["python-3.11", "python-3.13"]

[nix]
channel = "stable-23_05"
packages = ["freetype", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tesseract", "tk", "zlib"]

[deployment]
run = ["python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "80"]

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
